
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin: 0;
}

h2, h3 {
    color: #333;
    
}
.div2 {
    background-color: #ad6cda;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
h1 {
    color: white;
    font-size: 40px;
}
.div2 h1 {
    color: white;
}




form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

div{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    background-color: #ad6cda;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #ba69e3;
}

a {
    color: #ad6cda;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    font-size: 18px;
}
